/* -------------------------------
# START CONFIGURATION
------------------------------- */
html, body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

.box {
    position: absolute;
    width: 30%;
    height: 39%;
    border-radius: 10px;
    background-color: rgb(126 129 131);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    right: 90px;
    bottom: 75px;
    padding: 1%;
  }

  .line::after {
    content: "";
    position: absolute;
    top: 21%;
    bottom: 0;
    left: 50%;
    border-left: 1px solid black;

  }

  #logo {
    float: right;
    width: 400px;
    height: 230px;
    margin-top: 200px;
    margin-right: 180px;
  }

  #Character {
    display: block;
    margin-top: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20%;
    width: 70%;
}

  #header {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 140%;
    line-height: 1;
    }

    .left-margin {
        margin-left: 8%;
        margin-top: 10%;
        opacity: 1;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    }

    .left-margin1 {
        margin-left: 20%;
        margin-top: 10%;
        opacity: 1;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    }

    .left-margin2 {
        margin-left: 12%;
        margin-top: 10%;
        opacity: 1;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    }

    .left-margin3 {
        margin-left: 28%;
        margin-top: 10%;
        opacity: 1;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    }


/* ********************************* RESPONSIVE SECTION ***************************** */
/* -------------------------------
# RESOLUTION FOR VARIOUS DEVICES
------------------------------- */
@media(width: 2560px) {
    .box {
        width: 750px;
        height: 600px;
        right: 70px;
        bottom: 60px;
    }

    #logo {
        width: 500px;
        height: 300px;
        margin-top: 13%;
        margin-right: 7%;
    }

    .left-margin {
        margin-left: 15%;
        margin-top: 10%;
    }

    .left-margin1 {
        margin-left: 25%;
        margin-top: 10%;
    }

    .left-margin2 {
        margin-left: 18%;
        margin-top: 10%;
    }

    .left-margin3 {
        margin-left: 30%;
        margin-top: 10%;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 1899px) {
    .box {
        width: 750px;
        height: 600px;
        right: 70px;
        bottom: 60px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 1799px) {
    .box {
        width: 750px;
        height: 600px;
        right: 60px;
        bottom: 50px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 1699px) {
    .box {
        width: 600px;
        height: 400px;
        right: 50px;
        bottom: 40px;
    }
    #logo {
        width: 450px;
        height: 250px;
        margin-top: 7%;
        margin-right: 7%;
      }
}

/* -------------------------------------------------------------- */

@media(max-width: 1599px) {
    .box {
        width: 500px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 1499px) {
    .box {
        width: 600px;
        height: 450px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 1399px) {
    .box {
        width: 600px;
        height: 400px;
    }

    #logo {
        width: 380px;
        height: 200px;
        margin-top: 7%;
        margin-right: 10%;
      }

    #Character {
        margin-left: 15%;
    }

}

/* -------------------------------------------------------------- */

@media(max-width: 1299px) {
    .box {
        width: 600px;
        height: 350px;
    }
    #logo {
        margin-top: 8%;
        margin-right: 13%;
      }
}

/* -------------------------------------------------------------- */

@media(max-width: 1199px) {
    .box {
        width: 500px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 1099px) {
    .box {
        height: 350px;
    }
    #logo {
        margin-top: 11%;
        margin-right: 13%;
      }
      #Character {
        margin-left: 12%;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 900px) {
    .box {
        width: 450px;
        height: 500px;
        right: 45px;
        bottom: 35px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 700px) {
    .box {
        width: 400px;
        height: 500px;
        right: 40px;
        bottom: 30px;
    }
}

/* -------------------------------------------------------------- */

@media(max-width: 575px) {
    .box {
        width: 90%;
        height: 70%;
        right: 5%;
        bottom: 1%;
        padding: 5%;
    }

    #Character {
        display: none;
    }

    #logo {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20%;
        width: 270px;
        height: 150px;
      }

    #header {
        margin-top: 2px;
    }

    .line::after {
        display: none;
    }

    .left-margin {
        margin-left: 22%;
        margin-right: 20%;
        margin-top: 10%;
    }

    .left-margin1 {
        margin-left: 27%;
        margin-right: 24%;
        margin-top: 10%;
    }

    .left-margin2 {
        margin-left: 31%;
        margin-right: 26%;
        margin-top: 10%;
    }

    .left-margin3 {
        margin-left: 30%;
        margin-right: 20%;
        margin-top: 10%;
    }
}
